.nav-link {
	color: aliceblue;
  }

  .cabecalho {
	background-color: #001d36;
	font-family: "Open Sans", Arial, sans-serif;
	margin-bottom: 5%;
  }

  .body {
	background-color: #f2f5f7;
	font-family: "Open Sans", Arial, sans-serif;
  }

  .formulario {
	text-align: center;
	margin: 5% 30%;
	background-color: aliceblue;
	padding: 3%;
  }

  .form-group {
	margin-bottom: 5%;
	display: flex;
  }

  .form-control {
	width: 100%;
  }

  .btn {
	margin-bottom: 5%;
  }