.justify-content-start{


    background-color: #001d36; 
    padding: 2% 0% 2% 0%;
    padding-left: 10%;
    width: 95%;
    border-radius: 2%;
    box-shadow: 10px 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);

}
.opcoesPagamento{

    margin:0% 0% 2% 0;
}

.card{

    border-radius: 50%;
    
}



.cabecalho{
    
    background-color: #001d36;
    margin-bottom: 5%;

}

.nav-link, .rodape{

	color: aliceblue;
    font-family: 'Open Sans',Arial,sans-serif;
}

.body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.bg-item {
	background-color: white;
	padding: 18px;
	color: black;
	border-bottom: 1px solid gray;
}

.item-interno {
	padding-top: 20px;
}



 